# Dependencies
node_modules/

# Next.js
.next/
out/
build/
dist/

# Environment
.env
.env*.local

# Prisma
prisma/*.db

# Testing / coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts
